/*
 * Pepipost
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
 */
using System;
using System.Collections.Generic;
using System.Dynamic;
using System.Globalization;
using System.IO;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using Newtonsoft.Json.Converters;
using Pepipost;
using Pepipost.Utilities;
using Pepipost.Http.Request;
using Pepipost.Http.Response;
using Pepipost.Http.Client;
using Pepipost.Exceptions;

namespace Pepipost.Controllers
{
    public partial class SubaccountsGetSubAccountsController: BaseController
    {
        #region Singleton Pattern

        //private static variables for the singleton pattern
        private static object syncObject = new object();
        private static SubaccountsGetSubAccountsController instance = null;

        /// <summary>
        /// Singleton pattern implementation
        /// </summary>
        internal static SubaccountsGetSubAccountsController Instance
        {
            get
            {
                lock (syncObject)
                {
                    if (null == instance)
                    {
                        instance = new SubaccountsGetSubAccountsController();
                    }
                }
                return instance;
            }
        }

        #endregion Singleton Pattern

        /// <summary>
        /// Lets you fetch all the subaccounts created by you
        /// </summary>
        /// <param name="limit">Required parameter: Example: </param>
        /// <param name="offset">Required parameter: Example: </param>
        /// <return>Returns the object response from the API call</return>
        public object GetSubaccountsGetSubAccountsGET(string limit, string offset)
        {
            Task<object> t = GetSubaccountsGetSubAccountsGETAsync(limit, offset);
            APIHelper.RunTaskSynchronously(t);
            return t.Result;
        }

        /// <summary>
        /// Lets you fetch all the subaccounts created by you
        /// </summary>
        /// <param name="limit">Required parameter: Example: </param>
        /// <param name="offset">Required parameter: Example: </param>
        /// <return>Returns the object response from the API call</return>
        public async Task<object> GetSubaccountsGetSubAccountsGETAsync(string limit, string offset)
        {
            //the base uri for api requests
            string _baseUri = Configuration.BaseUri;

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/subaccounts/getSubAccounts");

            //process optional query parameters
            APIHelper.AppendUrlWithQueryParameters(_queryBuilder, new Dictionary<string, object>()
            {
                { "limit", limit },
                { "offset", offset }
            },ArrayDeserializationFormat,ParameterSeparator);


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" }
            };
            _headers.Add("api_key", Configuration.ApiKey);

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Get(_queryUrl,_headers);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);

            //Error handling using HTTP status codes
            if (_response.StatusCode == 400)
                throw new APIException(@"API Response", _context);

            if (_response.StatusCode == 401)
                throw new APIException(@"API Response", _context);

            if (_response.StatusCode == 403)
                throw new APIException(@"API Response", _context);

            if (_response.StatusCode == 405)
                throw new APIException(@"Invalid input", _context);

            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return _response.Body;
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

    }
} 